---
---

@import "{{ site.theme }}";

body {
  background: #111;
}

.wrapper {
  background: #252525;
  margin: 20px auto;
  padding: 0 20px 20px;
  border: thin solid #555;
  border-radius: 7px;
}

.header-link {
  padding: 1em 0;
}

.wrapper section {
  padding-top: 0;
  margin-top: 0;
}

.theme-credits {
  font-size: 11px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
  text-align: right;
}

@media print {
  .header-link, .theme-credits {
    display: none;
  }
}

@media print, screen and (max-width: 720px) {
  .wrapper {
    border: none;
    border-radius: 0;
    margin: 0;
    max-width: none;
  }

  body {
    padding: 0;
  }
}
